body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

#welcome {
    background: linear-gradient(#E1BEE7 0%, #90CAF9 100%);
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: forestgreen;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.83;
    height: 100%;
    width: 100%;
    display: table;
}

img {
    width: 300px;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 35px;
}

p {
    font-size: 25px;
    color: purple;
    font-weight: bold;


}

h2 {
    font-size: 20px;
    color: #1A237E;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;


}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

html {
    scroll-behavior: smooth;
}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.links {
    float: left;
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}
